<!-- Store this code in 'index.html' file inside the 'templates' folder-->

<html>
	<head>
		<meta charset="UTF-8">
		<title> Index </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">		
		 
	</head>

	<body>

		<!-- <div class="leaves">
			<div class="leaf"><img src="img1.png"></div>
			<div class="leaf"><img src="img1.png"></div>
			<div class="leaf"><img src="img1.png"></div>
			<div class="leaf"><img src="img1.png"></div>
			<br>
			<div class="leaf"><img src="img2.png"></div>
			<div class="leaf"><img src="img2.png"></div>
			<div class="leaf"><img src="img2.png"></div>
			<div class="leaf"><img src="img2.png"></div>
		</div> -->

		<div class="box">
			<h2 style="text-align:center; font-family:'Poppins',sans-serif;color:#83617A;">Index</h2>
				<br>
				<h3>Hi {{session.username}}!!  </h3>
				<br>
				<h3> Welcome to the index page...</h3>

				<div class="links">
					<a href="{{ url_for('logout') }}" class="btn">Logout</a>
				</div>
				
		</div>
	</body>
</html>
