<!-- Store this code in 'index.html' file inside the 'templates' folder-->

<html>
	<head>
		<meta charset="UTF-8">
		<title> Index </title>
		<link rel="stylesheet" href="C:\Users\kumud\OneDrive\Documents\GitHub\CAD-Project\project\static\web.css">		
		 
	</head>

	<body>

		<div class="box">
			<h2 style="text-align:center; font-family:'Poppins',sans-serif;color:#83617A;">Index</h2>
				<br>
				<h3>Hi {{session.username}}!!  </h3>
				<br>
				<h3> Welcome to the index page...</h3>

				<div class="row">
					<div class="container"><a href="{{ url_for('Testing') }}"><img  src="https://static-00.iconduck.com/assets.00/adobe-portfolio-icon-256x256-onmv26lg.png" alt="Portfolio"> </a></div>
					<div class="container"><a href="{{ url_for('calculator') }}"><img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRuEUcvDWt44DJl71gqSGmbAOcSIOCpIgwhQ&s" alt="calculator"> </a></div>
					<div class="container"><a href="http://localhost:8080/posts"><img  src=" https://thumbs.dreamstime.com/b/blog-conversation-icon-special-cyan-blue-round-button-blog-conversation-icon-isolated-special-cyan-blue-round-button-abstract-105886705.jpg" alt="blog"> </a></div>
					<div class="container"><a href="{{ url_for('draw') }}"><img  src="https://i.pinimg.com/474x/71/3c/11/713c114373538dae0c939851980a118a.jpg" alt="drawing board"> </a></div>
				</div>

				<div class="links">
					<a href="{{ url_for('logout') }}" class="btn">Logout</a>
				</div>
				
		</div>
	</body>
</html>
