<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}"
    
    <link rel="icon" type="image/xicon" href="icon.jpg">
    <title>login</title>
</head>
<body>
    <header> <h1 class="a">log In</h1>
    <nav class="navigation">
        <a href="#">HOME</a>
        <a href="#">ABOUT</a>
        <a href="#">FRIENDS</a>
        <a href="#">MESSAGE</a>
        <button type="button" class="loginPopup">Log in</button>
    </nav>
    </header>

    <div class="c">
        
        <h2 id="z">login</h2>
        <form class="d">
           <label style="border-bottom: solid black ">Email ID</label>
            <input type="email" style="background-color: transparent;"><br>
            <label style="border-bottom: solid black;">password</label>
            <input type="password" style="background-color: transparent;"><br>
            <label class="e"><input type="checkbox">Remember me</label>
            <div class="g"><a href="#"> Forget password</a></div>
            <button type="submit" class="f"> LOgin
            </button>
           <div class="g"><p>don't have an account?<a href="#">sign in</a></p></div> 
        </form>
    </div>
   
    <h1>GET TO KNOW ME</h1>
    <div class="first">
        <form> 
            <div class="imagestander">
                <div>
                <label for="name">Full name:</label><br>
                <input type="text" placeholder="firstname"><br>
                <input type="text"placeholder="lastnamee"><br>
                <br>
                <label for="name2">I can call you as :</label><br>
                <input type="text" placeholder="name from me"><br>
                <label for="name3">Friends call you as :</label><br>
                <input type="text" placeholder="nickname"><br>
                <lable for="name4">You like to call me as:</lable><br>
                <input type="text"placeholder=anyname><br>
                <br>
                <lable for="text">Birthday date:)</lable><br>
                <input type="date"placeholder="date"><br>
                <br>
                <lable for="email">Email adress:</lable><br>
                <input type="email"placeholder=mail><br>
                <lable for="number">Contact number :</lable><br>
                <input type="text"placeholder=cellnumber><br>
                <lable for="place">City:</lable><br>
                <input type="text" placeholder="address"><br>
                <br>
                <label for="song">Favorite song:</label><br>
                <input type="text"placeholder=sangeet><br>
                <lable for="movie">Favorite movie:</lable><br>
                <input type="text"placeholder=film><br>
                <lable for="color">Favorite color:</lable><br>
                <input typr="color" placeholder="rang"><br>
                <lable for="hobby">Past-Time activities:</lable>
                <input type="text"placeholder=a)>
                <input type="text"placeholder=b)><br>
                <lable for ="priority">People close to your heart:</lable>
                <input type="text"placeholder=1.>
                <input type="text"placeholder=2.><br>
                <lable for="gift">A gift you like most:</lable>
                <input type="text" placeholder="gift"><br>
                <br>
                <lable for="advice">Advice for me.....!  :)</lable><br>
                <input type="text" placeholder="your words plz" size="70px"><br>
                <lable for="feedback">FEEDBACK:</lable>
                <input type="text"placeholder=suggestions size="70px">
                </div>
                <div>
                    <img src="OIP.jpg" alt="hehe">
                </div>
            </div>

        </form>
        
    </div>
    <button class="btn">Search</button>
    <a class="b" href="start.html"><img src="hehe.jpg" alt="symbole" ;height="40px" width="40px"></a>
</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="web.css">
    <link rel="icon" type="image/xicon" href="icon.jpg">
    <title>e-slambook</title>
</head>
<body>
    <header> <h1 class="a">log In</h1>
    <nav class="navigation">
        <a href="#">HOME</a>
        <a href="#">ABOUT</a>
        <a href="#">FRIENDS</a>
        <a href="#">MESSAGE</a>
        <button type="button" class="loginPopup">Log in</button>
    </nav>
    </header>

    <div class="c">
        
        <h2 id="z">login</h2>
        <form class="d">
           <label style="border-bottom: solid black ">Email ID</label>
            <input type="email" style="background-color: transparent;"><br>
            <label style="border-bottom: solid black;">password</label>
            <input type="password" style="background-color: transparent;"><br>
            <label class="e"><input type="checkbox">Remember me</label>
            <div class="g"><a href="#"> Forget password</a></div>
            <button type="submit" class="f"> LOgin
            </button>
           <div class="g"><p>don't have an account?<a href="#">sign in</a></p></div> 
        </form>
    </div>
   
    <h1>GET TO KNOW ME</h1>
    <div class="first">
        <form> 
            <div class="imagestander">
                <div>
                <label for="name">Full name:</label><br>
                <input type="text" placeholder="firstname"><br>
                <input type="text"placeholder="lastnamee"><br>
                <br>
                <label for="name2">I can call you as :</label><br>
                <input type="text" placeholder="name from me"><br>
                <label for="name3">Friends call you as :</label><br>
                <input type="text" placeholder="nickname"><br>
                <lable for="name4">You like to call me as:</lable><br>
                <input type="text"placeholder=anyname><br>
                <br>
                <lable for="text">Birthday date:)</lable><br>
                <input type="date"placeholder="date"><br>
                <br>
                <lable for="email">Email adress:</lable><br>
                <input type="email"placeholder=mail><br>
                <lable for="number">Contact number :</lable><br>
                <input type="text"placeholder=cellnumber><br>
                <lable for="place">City:</lable><br>
                <input type="text" placeholder="address"><br>
                <br>
                <label for="song">Favorite song:</label><br>
                <input type="text"placeholder=sangeet><br>
                <lable for="movie">Favorite movie:</lable><br>
                <input type="text"placeholder=film><br>
                <lable for="color">Favorite color:</lable><br>
                <input typr="color" placeholder="rang"><br>
                <lable for="hobby">Past-Time activities:</lable>
                <input type="text"placeholder=a)>
                <input type="text"placeholder=b)><br>
                <lable for ="priority">People close to your heart:</lable>
                <input type="text"placeholder=1.>
                <input type="text"placeholder=2.><br>
                <lable for="gift">A gift you like most:</lable>
                <input type="text" placeholder="gift"><br>
                <br>
                <lable for="advice">Advice for me.....!  :)</lable><br>
                <input type="text" placeholder="your words plz" size="70px"><br>
                <lable for="feedback">FEEDBACK:</lable>
                <input type="text"placeholder=suggestions size="70px">
                </div>
                <div>
                    <img src="OIP.jpg" alt="hehe">
                </div>
            </div>

        </form>
        
    </div>
    <button class="btn">Search</button>
    <a class="b" href="start.html"><img src="hehe.jpg" alt="symbole" ;height="40px" width="40px"></a>
</body>
</html>