<!-- Store this code in 'register.html' file inside the 'templates' folder -->

<html>
	<head>
		<meta charset="UTF-8">
		<title> Register </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">
	</head>
	<body>

		<div class="box">
			<h2 style="text-align:center; font-family:'Poppins',sans-serif;color:#83617A;">Register</h2>
			<form action="{{ url_for('register') }}" method="post">
				<div class="msg">{{ msg }}</div>
				<label for="username"></label>
				<input type="text" id="username" name="username" placeholder="Username" required>
			    <label for="password"></label>
				<input type="password" id="password" name="password" placeholder="Password" required>
				<label for="email"></label>
				<input type="email" id="email" name="email" placeholder="email" required>
				<input style="font-family:'Poppins',sans-serif;  font-size:16px;  font-weight:600;" type="submit" value="Sign up">
			</form>
				
			<div class="links">
				<p>Already have an account?</p>
				<span class="spacer"></span>
				<a class="link-hover" href="{{url_for('login')}}"> Sign In</a>
			</div>
		</div>
	</body>
</html>
